<div id="v-app">
  <h1>{{ title }}</h1>
  <form>
    <input v-model="text" type="text" />
    <button type="submit" @click.prevent="sendMessage()">Send</button>
    <button type="submit" @click.prevent="sendPost()">Send Post Request</button>
    <button type="submit" @click.prevent="sendPost2()">Send Post Request Two Servers</button>
    <button type="button" @click="joinRoom('first chat')">First chat</button>
    <button type="button" @click="joinRoom('second chat')">Second chat</button>
    <button type="button" @click="joinRoom('third chat')">Third chat</button>
    <input v-model="text_to_specific_room" type="text" />
    <button type="button" @click="sendMessageToChat()">Send to chat</button>
    <input v-model="room_to_message" type="text" />
    <input v-model="text_to_specific_room_grpc" type="text" />
    <button type="button" @click="sendMessageToChatGrpc()">Send to chat Grpc</button>
    <input v-model="room_to_message_grpc" type="text" />
  </form>
  <p>
    <ul>
      <li v-for="msg of messages">{{ msg }}</li>
    </ul>
  </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
  var app = new Vue({
    el: "#v-app",
    data: {
      title: "Websockets Testser",
      text: "",
      messages: ["Some message", "Another message"],
      socket: null,
      text_to_specific_room: "",
      room_to_message: "",
      text_to_specific_room_grpc: "",
      room_to_message_grpc: ""
    },
    methods: {
      sendMessage() {
        console.log(`send: ${this.text}`);
        this.socket.emit("msgToServer", this.text);
        this.text = "";
      },
      receiveMessage(text) {
        console.log(`recv: ${text}`);
        this.messages.push(text);
      },
      async sendPost() 
      {
          const response = await fetch("http://localhost:5000/messages/test", 
          {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ text: this.text }),
          });
          const message = await response.json();
          console.log(message);
          this.text = "";
      },
      async sendPost2() 
      {
          const response = await fetch("http://localhost:5000/messages/test2", 
          {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ text: this.text }),
          });
          const message = await response.json();
          console.log(message);
          this.text = "";
      },
      joinRoom(room) 
      {
        this.socket.emit("joinRoom", room);
        this.text_to_room = room;
      },
      async sendMessageToChat() 
      {
          const response = await fetch("http://localhost:5000/messages/texttoroom", 
          {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ room: this.room_to_message, text: this.text_to_specific_room }),
          });
          const message = await response.json();
          console.log(message);
          this.text = "";
      },
      async sendMessageToChatGrpc() 
      {
          const response = await fetch("http://localhost:5000/messages/texttoroomgrpc", 
          {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ room: this.room_to_message_grpc, text: this.text_to_specific_room_grpc }),
          });
          const message = await response.json();
          console.log(message);
          this.text = "";
      },
    },
    created() {
      this.socket = io("http://localhost:3000");
      this.socket.on("msgToClient", (text) => 
      {
        this.receiveMessage(text);
      });
    },
  });
</script>